@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');


$dark-purple: #2C3EFF;
$purple: #6643FF;
$light-purple: #9744FF;
$pink: #FF4F96;
$yellow: #FF9D37;
$blue: #20A7F2;
$light-green: #22D39E;
$mid-red: #F05454;

$orange: #FA6C38;
$light-orange: #FA8638;
$light-yellow: #FFE67C;
$cold: #3797D9;
$very-cold: #7FCBFF;
$deep-blue: #548CA8;
$gray-blue: #476072;

$body-background-gray: #EEEEEE;
$border-gray: #ABABAB;
$primary-dark-gray: #363636;

$font-family: 'Rubik', sans-serif;
$default-font-size: 14px;
$font-size-xl: 11px;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 500;
